* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
}

.toolbox-cont {
    height: 5rem;
    background-color: #93c0f0;
    display: flex;
    align-items: center;
}

.toolbox-cont>* {
    border-radius: 10px;
    margin-left: 4rem;
    /* color: aquamarine; */
}

.toolbox-priority-cont {
    background-color: #8395a7;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    width: 14rem;
    align-items: center;
}

.action-btn-cont {
    height: 4rem;
    width: 6rem;
    background-color: #8395a7;
    display: flex;
}

.action-btn-cont:hover{
    /* background-color: red; */
}

.action-btn-cont>* {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 50%;
    color: #818d99;
}

.color {
    height: 1.2rem;
    width: 2rem;
    background-color: #dfe4ea;
    border-radius: 2px;
}
.lightgreen {
    background-color: rgb(120, 243, 120);
    /* height: 30px;
    width: 40px; */
    /* border-radius: 8px; */
}

.black {
    background-color: rgb(12, 10, 10);
    /* height: 30px;
    width: 40px; */
    /* border-radius: 8px; */
}

.lightpink {
    background-color: rgb(228, 72, 90);
    /* height: 30px;
    width: 40px;
    /* border-radius: 8px;  */
}

.lightblue {
    background-color: rgb(176, 232, 250);
    /* height: 30px;
    width: 40px; */
    /* border-radius: 8px;  */
}


.action-btn-cont>*:hover {
    background: rgb(236, 178, 178);
    border-radius: 10px;
}

.modal-cont {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 50vh;
    width: 45vw;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    background-color: #576574;
    position: absolute;
    display: none;
}

.textarea-cont {
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: #576574;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
    color:white;
}
textarea::-webkit-input-placeholder {
    color: rgb(245, 237, 237);
  }
  

.priority-colors-cont {
    height: 100%;
    width: 25%;
    background-color: #8395a7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color {
    height: 3rem;
    width: 55%;
}

.border {
    border: 5px solid #f5f6fa;
}

.ticket-cont {
    height: 13rem;
    width: 16rem;
    background-color: #4b4b4b;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    height: 2rem;
    background-color: #dfe4ea;
    padding: 0.4rem;
}

.task-area {
    height: calc(100% - 1rem - 2rem - 2rem);
    background-color: #dfe4ea;
    padding: 0.4rem;
    outline: none;
}

.ticket-lock {
    height: 2rem;
    display: flex;
    background-color: #dfe4ea;
    font-size: 1.5rem;
    color: #4b4b4b;
    padding-right: 1rem;
    justify-content: flex-end;
}

.main-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}
.add:hover{
    background-color: rgb(225, 223, 223);;
}
#add{
    color: white;
    height: 50px;
    width: 30px;
}
#del{
    color: white;
    height: 50px;
    width: 30px;
}


